body {
  background-color: rgba(0, 0, 0, 0.05);
}
/* Element Selector */
h1 {
  color: blue;
  background-color: aliceblue;
}
/*Universal Selector */
* {
  color: cadetblue;
}
/* Class Selector*/
.sucess {
  color: blue;
}
.error {
  color: red;
}
/* Id Selector*/
#test {
  color: brown;
}
.font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  text-decoration: underline;
}
.textlayout {
  color: darkmagenta;
  background-color: aqua;
  text-align: center;
  line-height: 3;
  letter-spacing: 4px;
  word-spacing: 20px;
}
ul {
  color: black;
  list-style-type: armenian;
  margin: 0;
  padding: 0;
}
.box-model {
  border: 3px solid red;
  height: 200px;
  width: 250px;
  padding: 20px;
  margin: 20px;
}
th,
td {
  padding: 10px;
  border-top: 1px solid darkred;
  border-bottom : 1px solid darkgreen;
  border-left : 1px solid darkblue;
  border-right : 1px solid lightsalmon;
}
table {
  width: 30%;
  border-collapse: collapse;
}
td {
  text-align: center;
}
.position1{
  border: 1px solid blue;
  position: absolute;
 top:0px;
 right: 0px;
}
.position2{
  border: 1px solid red;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.position3{
  border: 1px solid green;
  position: sticky;
  top: 200px
}
