body {
  margin: 0;
  padding: 10px;
}
.container {
  display: flex;
  /* height: 300px; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  /* column-gap: 20px;
  row-gap: 10px; */
  gap: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  border-style: groove; 
  padding: 5px;
}
.flex-item {
  color: black;
  font-size: 1.5 rem;
  padding: 1rem;
  text-align: left;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  flex: 1 0 auto;
  justify-content: flex-start;
}
.button {
  height: 25px;
  width: auto;
  background-color: #04aa6d;
  font-size: medium;
  color: black;
}
.textarea {
  height: 150px;
  width: 300px;
  resize: both;
  padding-top: 10px;
}
.label {
  color: black;
  padding: 8px;
  font-family: Arial;
}
.select {
  width: 100px;
  height: 25px;
  font-size: 15px;
  cursor: pointer;
}
